{% load application___security %}
{% load i18n %}

{% if request|___required___application___security___user___is_ldapuser_or_ldapuserimported___ %}
    <div id="leftside___user">
        <div id="user___img" class="pull-left">
            <img src="{{ request|___get_string___application___security___user___avatar_url___ }}" alt="..." class="img-circle"/>
        </div>
        <div id="user___text">
            <h4 id="text___welcome">{% trans "APPLICATION___HPC___LEFTSIDE___USER___TEXT___WELCOME" %},</h4>

            <p id="text___name">{{ request|___get_instance___application___security___user___ }}</p>
        </div>
    </div>

    <ul id="leftside___nav" class="nav">

    </ul>
{% endif %}
