table.dataTable>tbody>tr.child ul {
    min-width: 100%;
    width: 100%;
}
@media (max-width: 991px) {
    table.dataTable>tbody>tr.child span.dtr-title, table.dataTable>tbody>tr.child span.dtr-data {
        display: block;
        min-width: 100%;
        width: 100%;
    }
}
@media (min-width: 992px) {
    table.dataTable>tbody>tr.child span.dtr-title, table.dataTable>tbody>tr.child span.dtr-data {
        display: block;
        min-width: 70%;
        width: 70%;
    }
}
@media (max-width: 767px) {
    .dt-buttons {
        display: none;
    }

    #datatable-buttons_length > label {
        display: none;
    }
}
table.dataTable>tbody>tr.child>td:first-child  {
    padding-left: 5px;
}
.dropdown>ul>li {
    cursor: pointer;
}
#center___content {
    display: none;
}