#application___hpc___content___center
{
    margin           :10px 10px 10px 10px;
    padding          :0;
    background-color :#ffffff;
    border           :1px solid #d9dee4;
    color            :#73879c;
}

@media (max-width :767px)
{
    #application___hpc___content___center
    {
        margin       :0;
        border-right :none;
        border-left  :none;
    }
}

#application___hpc___content___center #center___header
{
    overflow      :hidden;
    margin        :15px;
    padding       :0 0 5px 0;
    border-bottom :1px solid #d9dee4;
}

#application___hpc___content___center #center___content
{
    margin  :15px 20px 20px 20px;
    padding :0;
}

@media (max-width :767px)
{
    #application___hpc___content___center #center___header
    {
        margin  :10px 0;
        padding :0 5px 5px 5px;
    }

    #application___hpc___content___center #center___content
    {
        margin :10px;
    }
}

#center___header > .dropdown {
    position: absolute !important;
}

@media (max-width: 767px) {
    #center___header > .dropdown {
        position: absolute !important;
        right: 8px;
        top: 8px;
    }
}

@media (min-width: 768px) {
    #center___header > .dropdown {
        position: absolute !important;
        right: 27px;
        top: 23px;
    }
}

#center___header > .dropdown > ul.dropdown-menu > li {
    display: block;
    margin: 3px 5px;
}

#center___header > .dropdown > ul.dropdown-menu > li > a {
    padding: 3px 5px;
    min-height: 0;
    color: #2a3f54;
    cursor: pointer;
}

#center___header > .dropdown > ul.dropdown-menu > li > a :hover{
    background-color: #2a3f54 !important;
    color: white !important;
}

#center___header > .dropdown > ul.dropdown-menu > li.active > a{
    background-color: #2a3f54 !important;
    color: white !important;
}
@media (min-width :992px) {
    #application___hpc___content___center {
        min-height: calc(100vh - 70px) !important;
    }
}
