#application___hpc
{
    position         :absolute !important;
    top              :0 !important;
    right            :0 !important;
    bottom           :0 !important;
    left             :0 !important;
    margin           :0 !important;
    padding          :0 !important;
    background-color :#f7f7f7 !important;
}

#application___hpc .application___hpc___without_margin
{
    margin :0 !important;
}

#application___hpc .application___hpc___without_padding
{
    padding :0 !important;
}

#application___hpc .application___hpc___invisible
{
    visibility :hidden !important;
}

#application___hpc .application___hpc___load
{
    margin           :0;
    padding          :0 5px 0 5px;
    background-color :transparent;
    color            :#2a3f54;
    text-align       :left;
    font-size        :15px;
}

#application___hpc .btn-default
{
    background-color :#ffffff;
    border           :1px solid #d9dee4;
    color            :#2a3f54;
}

#application___hpc .btn-link
{
    background-color :transparent;
    border           :none;
    color            :#2a3f54;
}

#application___hpc .btn-primary
{
    background-color :#2a3f54;
    border           :1px solid #2a3f54;
    color            :#ffffff;
}

#application___hpc .btn-danger
{
    background-color :#f59090;
    border           :1px solid #f59090;
    color            :#ffffff;
}

#application___hpc .btn-default:hover,
#application___hpc .btn-default:focus,
#application___hpc .btn-primary:hover,
#application___hpc .btn-primary:focus,
#application___hpc .btn-danger:hover,
#application___hpc .btn-danger:focus
{
    background-color :#d9dee4;
    border           :1px solid #d9dee4;
    color            :#2a3f54;
}

#application___hpc___content___footer {
    display: none;
}

[data-background-color] {
    color: #FFFFFF;
}
[data-background-color="darker"] {
    background: linear-gradient(60deg, #2a3f54, #2a0f34);
}
[data-box-shadow="darker"] {
    box-shadow: 0 12px 20px -10px rgba(13, 31, 110, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(13, 31, 110, 0.2);
}
[data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}
[data-box-shadow="green"] {
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
[data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}
[data-box-shadow="orange"] {
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
[data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
}
[data-box-shadow="red"] {
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
[data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
}
[data-box-shadow="purple"] {
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
[data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
[data-box-shadow="blue"] {
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: linear-gradient(60deg, #2a3f54, #2a0f34);
}

.nav-pills>li>a {
    color: #2a3f54;
}

footer{
    display: none;
}