#application___hpc___content #nodes___content {
    padding: 0;
}
@media (max-width: 991px) {
    #application___hpc___content #nodes___content > div > div:nth-child(n) {
        padding: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #application___hpc___content #nodes___content > div > div:nth-child(1) {
        padding-left: 0;
    }
    #application___hpc___content #nodes___content > div > div:nth-child(2) {
        padding-right: 0;
    }
    #application___hpc___content #nodes___content > div > div:nth-child(3) {
        padding: 0;
    }
}
@media (min-width: 1200px) {
    #application___hpc___content #nodes___content > div > div:nth-child(1) {
        padding-left: 0;
    }
    #application___hpc___content #nodes___content > div > div:nth-child(3) {
        padding-right: 0;
    }
}
@media (max-width: 767px) {
    #application___hpc___content #nodes___content > div > div:nth-child(3) {
        padding: 15px;
    }
}


@media (max-width: 767px) {
    #application___hpc___content #datatable-nodes_wrapper > .dataTables_length > label {
        display: none
    }
}
#application___hpc___content #datatable-nodes_wrapper > .dataTables_paginate>.pagination>li>a {
    background-color: #ffffff;
    border-color: #d9dee4;
    color: #2a3f54;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}
#application___hpc___content #datatable-nodes_wrapper > .dataTables_paginate >.pagination>li>a:hover {
    background-color: #ededed;
}
#application___hpc___content #datatable-nodes_wrapper > .dataTables_paginate>.pagination>li.active>a {
    background-color: #2a3f54;
    border-color: #2a3f54;
    color: #ffffff
}