@media (min-width: 992px) {
    #application___hpc___content #datatable-buttons_wrapper > table.dataTable>tbody>tr.child span.dtr-title,
    #application___hpc___content #datatable-buttons_wrapper > table.dataTable>tbody>tr.child span.dtr-data {
        display: block;
        min-width: 70%;
        width: 70%;
    }
    #application___hpc___content #datatable-buttons_wrapper > .dt-buttons {
        display: block;
        margin: auto;
        width: 200px
    }
    #application___hpc___content #job-codes-info {
        padding-left: 0;
    }
}
@media (max-width: 991px) {
    #application___hpc___content #datatable-buttons_wrapper > table.dataTable>tbody>tr.child span.dtr-title,
    #application___hpc___content #datatable-buttons_wrapper > table.dataTable>tbody>tr.child span.dtr-data {
        display: block;
        min-width: 100%;
        width: 100%
    }
    #application___hpc___content #datatable-buttons_wrapper > .dt-buttons {
        display: none
    }
    #application___hpc___content #job-codes-info {
        padding: 0;
    }
}

@media (max-width: 767px) {
    #application___hpc___content #datatable-buttons_wrapper > .dataTables_length > label {
        display: none
    }
}

#application___hpc___content #datatable-buttons_wrapper > table.dataTable>tbody>tr.child ul {
    min-width: 100%;
    width: 100%
}
#application___hpc___content #datatable-buttons_wrapper > table.dataTable>tbody>tr.child>td:first-child  {
    padding-left: 5px;
}
#application___hpc___content #datatable-buttons_wrapper > .dataTables_paginate>.pagination>li>a {
    background-color: #ffffff;
    border-color: #d9dee4;
    color: #2a3f54;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}
#application___hpc___content #datatable-buttons_wrapper > .dataTables_paginate >.pagination>li>a:hover {
    background-color: #ededed;
}
#application___hpc___content #datatable-buttons_wrapper > .dataTables_paginate>.pagination>li.active>a {
    background-color: #2a3f54;
    border-color: #2a3f54;
    color: #ffffff
}
#application___hpc___content #datatable-buttons_wrapper > table.dataTable span[data-background-color]{
    border-radius: 3px;
    padding: 5px;
}
#application___hpc___content #datatable-buttons tr.child .panel > .panel-body .panel:last-child {
    margin-bottom: 0;
}

#application___hpc___content #job-codes-info .panel {
    border-radius: 3px
}
#application___hpc___content #job-codes-info .panel table {
    margin-bottom: 0
}
#application___hpc___content #job-codes-info .panel:nth-child(2){
    margin-bottom: 0;
}
#application___hpc___content #job-codes-info .panel > .panel-heading {
    font-size: 16px;
    color: #fff;
    background: linear-gradient(60deg, #2a3f54, #2a0f34);
}
#application___hpc___content #job-codes-info .panel > .panel-body {
    padding: 15px 15px 15px 15px;
}
#application___hpc___content #job-codes-info .panel > .panel-body {
    overflow-x: auto
}
#application___hpc___content #job-codes-info .panel:nth-child(1) > .panel-body > table > tbody > tr > td:nth-child(3) {
    min-width: 280px
}
#application___hpc___content #job-codes-info .panel:nth-child(2) > .panel-body > table > tbody > tr > td:nth-child(2) {
    min-width: 280px;
}
