<ul class="nav navbar-right pull-right header___links">
    <!-- Header: Right: Login -->
    {% include "application/administration/___includes___/header/___includes___/right/___includes___/login/login.html" %}
    <!-- Header: Right: Alerts -->
{#    {% include "application/administration/___includes___/header/___includes___/right/___includes___/alerts/alerts.html" %}#}
    <!-- Header: Right: User -->
    {% include "application/administration/___includes___/header/___includes___/right/___includes___/user/user.html" %}
    <!-- Header: Right: Translation -->
    {% include "application/administration/___includes___/header/___includes___/right/___includes___/locale/locale.html" %}
</ul>