{% load application___security %}
{% load i18n %}

{% if request|___required___application___security___user___ %}
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" role="button">
            <img src="{{ request|___get_string___application___security___user___avatar_url___ }}" alt="..." class="img-circle"/>
            <span class="hidden-xs"> {{ request|___get_instance___application___security___user___ }}</span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown_menu___user" role="menu">
            <li>
                <a data-url="{% url "application___website:profile" %}" class="LINK___application___website___modal___reload">
                    <span class="fa fa-user fa-fw" aria-hidden="true"></span> {% trans "APPLICATION___WEBSITE___HEADER___RIGHT___USER___PROFILE" %}
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a data-url="{% url "application___website:logout" %}" class="LINK___application___website___modal___reload">
                    <span class="fa fa-sign-out fa-fw" aria-hidden="true"></span> {% trans "APPLICATION___WEBSITE___HEADER___RIGHT___USER___LOGOUT" %}
                </a>
            </li>
        </ul>
    </li>
{% endif %}
