{% load i18n %}

<!-- Header: Left -->
{% include "application/website/___includes___/header/___includes___/left/left.html" %}

<button id="application___website___header___toggle" type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#application___website___leftside" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<!-- Header: Right -->
{% include "application/website/___includes___/header/___includes___/right/right.html" %}
