{% load application___security i18n %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-sm btn-default close LINK___application___administration___modal___modal___action_close" data-dismiss="modal" aria-label="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}" title="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___LOGIN___REQUEST" %} {% if ctx___tab___localuserlogin___request == True %}<strong>&OpenCurlyDoubleQuote;{% trans "APPLICATION___SECURITY___LOGIN___REQUEST___LOCALUSER" %}&CloseCurlyDoubleQuote;</strong>{% else %}{% if ctx___tab___ldapuserlogin___request == True %}<strong>&OpenCurlyDoubleQuote;{% trans "APPLICATION___SECURITY___LOGIN___REQUEST___LDAPUSER" %}&CloseCurlyDoubleQuote;</strong>{% endif %}{% endif %}</h4>
        </div>
        <form method="post" action="{% url "application___administration:login___request" %}{% if ctx___tab___localuserlogin___request == True %}?tab___localuserlogin___request=True{% else %}{% if ctx___tab___ldapuserlogin___request == True %}?tab___ldapuserlogin___request=True{% endif %}{% endif %}" class="LINK___application___administration___modal___modal___action_submit_and_close_the_modal">
            {% csrf_token %}
            <div class="modal-body">
                <!-- Modal Menssage -->
                <div class="modal___message">
                </div>
                <!-- Modal Form Field -->
                <div class="modal___form">
                    {% with ctx___field=ctx___form.first_name %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.last_name %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}

                    <div class="divider___transparent"></div>
                    {% if ctx___tab___localuserlogin___request == True %}
                        {% with ctx___field=ctx___form.identifier %}
                            {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                        {% endwith %}
                    {% elif ctx___tab___ldapuserlogin___request == True %}
                        {% with ctx___field=ctx___form.identifier ctx___ldap_group=None|___get_string___user___ldap_group___ %}
                            {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfieldldapidentifier.html" %}
                        {% endwith %}
                    {% endif %}
                    {% with ctx___field=ctx___form.email %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.password %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.password_confirmation %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}

                    <div class="divider___transparent"></div>
                    {% with ctx___field=ctx___form.detail %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textarea/textarea.html" %}
                    {% endwith %}

                    <div class="divider___transparent"></div>
                    {% with ctx___field=ctx___form.captcha %}
                        {% include "application/administration/___includes___/modal/___includes___/form/captcha/captcha.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary pull-left" title="{% trans "APPLICATION___SECURITY___ACTION_SUBMIT" %}">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___ACTION_SUBMIT" %}
                </button>
                <a class="btn btn-sm btn-default pull-left LINK___application___administration___modal___modal___action_refresh" data-url="{% url "application___administration:login___request" %}{% if ctx___tab___localuserlogin___request == True %}?tab___localuserlogin___request=True{% else %}{% if ctx___tab___ldapuserlogin___request == True %}?tab___ldapuserlogin___request=True{% endif %}{% endif %}" title="{% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}</span>
                </a>
                <button type="button" class="btn btn-sm btn-default pull-left LINK___application___administration___modal___modal___action_close" data-dismiss="modal" title="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}</span>
                </button>
            </div>
        </form>
    </div>
</div>