{% load i18n %}

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-sm btn-default close LINK___application___administration___modal___action_close" data-dismiss="modal" aria-label="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}" title="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___LOGIN" %}</h4>
        </div>
        <ul class="nav nav-tabs">
            <li class="{% if ctx___tab___ldapuserlogin %}active{% endif %}">
                <a data-toggle="tab" href="#tab___ldapuserlogin"><span class="text-info"><strong>{% trans "APPLICATION___SECURITY___LOGIN___MODEL___LDAPUSER" %}</strong></span></a>
            </li>
            <li class="{% if ctx___tab___localuserlogin %}active{% endif %}">
                <a data-toggle="tab" href="#tab___localuserlogin"><span class="text-info"><strong>{% trans "APPLICATION___SECURITY___LOGIN___MODEL___LOCALUSER" %}</strong></span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab___ldapuserlogin" class="tab-pane fade in {% if ctx___tab___ldapuserlogin %}active{% endif %}">
                <form method="post" action="{% url "application___administration:login" %}?tab___ldapuserlogin=True" class="LINK___application___administration___modal___action_login">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!-- Modal Menssage -->
                        <div class="modal___message">
                        </div>
                        <!-- Modal Form Field -->
                        <div class="modal___form">
                            <div class="form-group {% if ctx___form___ldapuserlogin.ldap_group.errors %}has-error{% endif %}">
                                <label for="{{ ctx___form___ldapuserlogin.ldap_group.field.widget.attrs.id }}">{{ ctx___form___ldapuserlogin.ldap_group.field.label }}:{% if ctx___form___ldapuserlogin.ldap_group.field.required %} *{% endif %}</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="{{ ctx___form___ldapuserlogin.ldap_group.field.widget.attrs.id }}_icon">
                                        <span class="{{ ctx___form___ldapuserlogin.ldap_group.field.widget.attrs.icon }}" aria-hidden="true"></span>
                                    </span>
                                    {{ ctx___form___ldapuserlogin.ldap_group }}
                                </div>
                                {% if ctx___form___ldapuserlogin.ldap_group.help_text %}
                                    <p class="help-block text-justify">{{ ctx___field.help_text }}</p>
                                {% endif %}
                                {% if ctx___form___ldapuserlogin.ldap_group.errors %}
                                    <ul>
                                        {% for ctx___error in ctx___form___ldapuserlogin.ldap_group.errors %}
                                            <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> {{ ctx___error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $identifierSelectLdapGroup = $("#{{ ctx___form___ldapuserlogin.ldap_group.field.widget.attrs.id }}");
                                    $identifierSelectLdapGroupOptions = $("#{{ ctx___form___ldapuserlogin.ldap_group.field.widget.attrs.id }}_options");
                                    if ($identifierSelectLdapGroup.find("option:first-of-type:selected").val() === undefined) {
                                        $identifierSelectLdapGroupOptions.addClass("hidden");
                                    }
                                    $identifierSelectLdapGroup.change(function () {
                                        if ($identifierSelectLdapGroup.find("option:first-of-type:selected").val() === undefined) {
                                            $identifierSelectLdapGroupOptions.addClass("hidden");
                                        }
                                        else {
                                            $identifierSelectLdapGroupOptions.removeClass("hidden");
                                        }
                                    });
                                });
                            </script>
                            {% with ctx___field=ctx___form___ldapuserlogin.ldap_identifier %}
                                {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                            {% endwith %}
                            {% with ctx___field=ctx___form___ldapuserlogin.ldap_password %}
                                {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                            {% endwith %}
                            <div id="{{ ctx___form___ldapuserlogin.ldap_group.field.widget.attrs.id }}_options">
                                <div class="divider___transparent"></div>
                                <div>
                                    <a class="btn btn-link LINK___application___administration___modal___modal___reload" data-url="{% url "application___administration:login___forgot_credentials_1" %}?tab___ldapuserlogin___forgot_credentials=True">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___LOGIN___LINK___FORGOT_CREDENTIALS" %}
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-link LINK___application___administration___modal___modal___reload" data-url="{% url "application___administration:login___request" %}?tab___ldapuserlogin___request=True">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___LOGIN___LINK___REQUEST" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary pull-left" title="{% trans "APPLICATION___SECURITY___ACTION_LOGIN" %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___ACTION_LOGIN" %}
                        </button>
                        <a class="btn btn-sm btn-default pull-left LINK___application___administration___modal___action_refresh___security___login" data-url="{% url "application___administration:login" %}?tab___ldapuserlogin=True" title="{% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}</span>
                        </a>
                        <button type="button" class="btn btn-sm btn-default pull-left LINK___application___administration___modal___action_close" data-dismiss="modal" title="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}</span>
                        </button>
                    </div>
                </form>
            </div>
            <div id="tab___localuserlogin" class="tab-pane fade in {% if ctx___tab___localuserlogin %}active{% endif %}">
                <form method="post" action="{% url "application___administration:login" %}?tab___localuserlogin=True" class="LINK___application___administration___modal___action_login">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!-- Modal Menssage -->
                        <div class="modal___message">
                        </div>
                        <!-- Modal Form Field -->
                        <div class="modal___form">
                            {% with ctx___field=ctx___form___localuserlogin.local_identifier %}
                                {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                            {% endwith %}
                            {% with ctx___field=ctx___form___localuserlogin.local_password %}
                                {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                            {% endwith %}

                            <div class="divider___transparent"></div>
                            <div>
                                <a class="btn btn-link LINK___application___administration___modal___modal___reload" data-url="{% url "application___administration:login___forgot_credentials_1" %}?tab___localuserlogin___forgot_credentials=True">
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___LOGIN___LINK___FORGOT_CREDENTIALS" %}
                                </a>
                            </div>
                            {% comment %}
                            <div>
                                <a class="btn btn-link LINK___application___administration___modal___modal___reload" data-url="{% url "application___administration:login___request" %}?tab___localuserlogin___request=True">
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___LOGIN___LINK___REQUEST" %}
                                </a>
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary pull-left" title="{% trans "APPLICATION___SECURITY___ACTION_LOGIN" %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___ACTION_LOGIN" %}
                        </button>
                        <a class="btn btn-sm btn-default pull-left LINK___application___administration___modal___action_refresh___security___login" data-url="{% url "application___administration:login" %}?tab___localuserlogin=True" title="{% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}</span>
                        </a>
                        <button type="button" class="btn btn-sm btn-default pull-left LINK___application___administration___modal___action_close" data-dismiss="modal" title="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>