{% load i18n %}
{% load staticfiles %}

{% now "YmdHis" as ctx___now %}

<link rel="stylesheet" href="{% static 'application/hpc/css/application___hpc___content___center___nodes.css' %}?{% now "YmdHis" %}">

<h3 id="center___header">
    <span class="fa fa-linode fa-fw" aria-hidden="true"></span> {% trans 'APPLICATION___HPC___CONTENT___HPC_NODES' %}
</h3>
<div id="center___content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="wrapper">
                    <canvas id="myLineChart" height="1" width="1"></canvas>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="wrapper">
                    <canvas id="myDoughnutChart2" height="150%"></canvas>
                </div>
                <div class="wrapper">
                    <canvas id="myDoughnutChart" height="150%"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <p style="padding-top: 8px; font-size: 12px">{% trans 'Particiones disponibles: ' %} <span class="badge">2</span></p>
                <table id="table-cluster" class="table nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        {% for key in partitions.keys %}
                            <th>{{ key | title }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in partitions.data %}
                        <tr>
                            {% for field in data %}
                                <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <table id="datatable-nodes" class="table dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Particion</th>
                    <th>Direccion IP</th>
                    <th>Estado</th>
                    <th>CPUs</th>
                    <th>CPUs asignadas</th>
                    <th>Carga de CPU</th>
                    <th>Recursos</th>
                    <th>Memoria</th>
                    <th>Memoria libre</th>
                    <th>Memoria asignada</th>
                    <th>S:C:T</th>
                </tr>
            </thead>
            <tbody>
            {% for node in nodes %}
                <tr>
                    <td>{{ node.NodeName }}</td>
                    <td>{{ node.Partitions }}</td>
                    <td>{{ node.NodeAddr }}</td>
                    <td>{{ node.State | title }}</td>
                    <td>{{ node.CPUTot }}</td>
                    <td>{{ node.CPUAlloc }}</td>
                    <td>{{ node.CPULoad }}</td>
                    <td>{% ifequal node.Gres '(null)' %}cpu{% else %}{{ node.Gres }}{% endifequal %}</td>
                    <td>{{ node.RealMemory }}mb</td>
                    <td>{{ node.FreeMem }}mb</td>
                    <td>{{ node.AllocMem }}mb</td>
                    <td>{{ node.Sockets }}:{{ node.CoresPerSocket }}:{{ node.ThreadsPerCore }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    var cpuload = '{{ statistics.cpuload }}';
    var cputot = '{{ statistics.cputot }}';
    var cpualloc = '{{ statistics.cpualloc }}';
    var freemem = '{{ statistics.freemem }}';
    var allocmem = '{{ statistics.allocmem }}';
    var url_chartnodes = "{% url 'application___hpc:modules:hpc_nodes:chartnodes' %}";
</script>
<script src="{% static 'application/hpc/js/application___hpc___nodes.js' %}?{{ ctx___now }}"></script>