{% load application___security %}
{% load i18n %}

<div class="modal-dialog">
    <div class="modal-content">
        <form method="post" action="{% url "application___administration:modules:administration_security:ldapuserimported:update" pk=ctx___form.instance.pk %}" class="LINK___application___administration___modal___action_update">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="btn btn-sm btn-default close LINK___application___administration___modal___action_close" data-dismiss="modal" aria-label="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_CLOSE" %}" title="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_CLOSE" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_UPDATE" %} <strong>&OpenCurlyDoubleQuote;{% trans "APPLICATION___ADMINISTRATION___CONTENT___ADMINISTRATION_SECURITY___LDAPUSERIMPORTED" %}&CloseCurlyDoubleQuote;</strong></h4>
            </div>
            <div class="modal-body">
                <!-- Modal Menssage -->
                <div class="modal___message">
                </div>
                <!-- Modal Form Field -->
                <div class="modal___form">
                    {% with ctx___field=ctx___form.avatar ctx___form___errors=ctx___form.errors ctx___instance_current=ctx___form.instance_current ctx___instance=ctx___form.instance %}
                        {% include "application/administration/___includes___/modal/___includes___/form/avatar/avatar.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.first_name %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.last_name %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}

                    <div class="divider___transparent"></div>
                    {% with ctx___field=ctx___form.ldap_group %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.identifier %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.email %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}

                    <div class="divider___transparent"></div>
                    {% with ctx___field=ctx___form.detail %}
                        {% include "application/administration/___includes___/modal/___includes___/form/textarea/textarea.html" %}
                    {% endwith %}

                    <div class="divider___transparent"></div>
                    {% with ctx___field=ctx___form.is_active %}
                        {% include "application/administration/___includes___/modal/___includes___/form/checkbox/checkbox.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary pull-left" title="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_UPDATE" %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_UPDATE" %}
                </button>
                <a class="btn btn-sm btn-default pull-left LINK___application___administration___modal___action_refresh" data-url="{% url "application___administration:modules:administration_security:ldapuserimported:update" pk=ctx___form.instance.pk %}" title="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_REFRESH" %}">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_REFRESH" %}</span>
                </a>
                <button type="button" class="btn btn-sm btn-default pull-left LINK___application___administration___modal___action_close" data-dismiss="modal" title="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_CLOSE" %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_CLOSE" %}</span>
                </button>
                {% if request|___required___application___security___user___has_permission___:"application_security_ldapuserimported_detail" %}
                    <a class="btn btn-sm btn-default LINK___application___administration___modal___reload" data-url="{% url "application___administration:modules:administration_security:ldapuserimported:detail" pk=ctx___form.instance.pk %}" title="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_DETAIL" %}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_DETAIL" %}</span>
                    </a>
                {% endif %}
                {% if request|___required___application___security___user___has_permission___:"application_security_ldapuserimported_delete" %}
                    <a class="btn btn-sm btn-default LINK___application___administration___modal___reload" data-url="{% url "application___administration:modules:administration_security:ldapuserimported:delete" pk=ctx___form.instance.pk %}" title="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_DELETE" %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_DELETE" %}</span>
                    </a>
                {% endif %}
            </div>
        </form>
    </div>
</div>