{% load i18n %}
{% load application___hpc %}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="label" data-background-color="{{ data.JobState| ___data_background___ }}">{{ data.JobState }}</span>
        <b>{{ data.JobName }}({{ data.JobId }})</b>
        {% if True %}
        <div class="pull-right">
            <button class="btn btn-xs btn-default" type="button" data-url="{% url 'application___hpc:modules:hpc_jobs:action' %}" data-option="job resume" title="Resume" {% ifnotequal data.JobState 'STOPPED' %}disabled{% endifnotequal %}>
                <span class="fa fa-play"></span>
            </button>
            <button class="btn btn-xs btn-default" type="button" data-url="{% url 'application___hpc:modules:hpc_jobs:action' %}" data-option="job pause" title="Pause" {% ifnotequal data.JobState 'RUNNING' %}disabled{% endifnotequal %}>
                <span class="fa fa-pause"></span>
            </button>
            <button class="btn btn-xs btn-default" type="button" data-url="{% url 'application___hpc:modules:hpc_jobs:action' %}" data-option="job requeue" title="Requeue" {{ data.JobState | ___disable_if_cant_requeue___ }}>
                <span class="fa fa-refresh"></span>
            </button>
            <button class="btn btn-xs btn-default" type="button" data-url="{% url 'application___hpc:modules:hpc_jobs:action' %}" data-option="job kill" title="Remove" {{ data.JobState | ___disable_if_cant_cancelled___ }}>
                <span class="fa fa-remove"></span>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed">
            <tr><td colspan=2><b>{% trans 'HPC___CONTENT___JOBS___DETAIL___Job_information' %}</b></td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Job_Id' %}</td><td>{{ data.JobId }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Job_name' %}</td><td>{{ data.JobName }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___User' %}</td><td>{{ data.UserId }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Partition' %}</td><td>{{ data.Partition }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Group_Id' %}</td><td>{{ data.GroupId }}</td></tr>
            <tr><td colspan=2><b>{% trans 'HPC___CONTENT___JOBS___DETAIL___Time' %}</b></td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Run_time' %}</td><td>{{ data.RunTime }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Time_limit' %}</td><td>{{ data.TimeLimit }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Submit_time' %}</td><td>{{ data.SubmitTime }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Eligible_time' %}</td><td>{{ data.EligibleTime }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Start_time' %}</td><td>{{ data.StartTime }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___End_time' %}</td><td>{{ data.EndTime }}</td></tr>
            <tr><td colspan=2><b>{% trans 'HPC___CONTENT___JOBS___DETAIL___Nodes' %}</b></td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Node_count' %}</td><td>{{ data.NumNodes }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Node_list' %}</td><td>{{ data.NodeList }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Batch_node' %}</td><td>{{ data.BatchHost }}</td></tr>
            <tr><td colspan=2><b>{% trans 'HPC___CONTENT___JOBS___DETAIL___Resources' %}</b></td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Num_CPUs' %}</td><td>{{ data.NumCPUs }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Num_tasks' %}</td><td>{{ data.NumTasks }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___CPUs/Task' %}</td><td>{{ data.CPUsTask }}</td></tr>
            <tr><td>{% trans 'HPC___CONTENT___JOBS___DETAIL___Memory' %}</td><td>{{ data.mem }}</td></tr>
        </table>
        <div width="width:80px">{% trans 'HPC___CONTENT___JOBS___DETAIL___File_location' %}</div>
        <div class="panel panel-default">
            <div class="panel-heading">{{ data.Command }}</div>
        </div>
        <div style="width:80px">{% trans 'HPC___CONTENT___JOBS___DETAIL___Output_location' %}</div>
        <div class="panel panel-default">
            <div class="panel-heading">{{ data.StdOut }}</div>
        </div>
        <div style="width:80px">{% trans 'HPC___CONTENT___JOBS___DETAIL___Error_location' %}</div>
        <div class="panel panel-default">
            <div class="panel-heading">{{ data.StdErr }}</div>
        </div>
    </div>
</div>