{% load i18n %}

{% if field.errors %}
    <div class="application___hpc___script___error">
        {{ field.errors }}
    </div>
{% endif %}
<div class="input-group input-group-sm">
    <div class="input-group-btn">
        <button
                type="button"
                class="btn btn-{% if field.errors %}danger{% else %}info{% endif %} btn-sm button-width"
                data-toggle="popover"
                data-trigger="focus"
                data-title="{% trans title %}"
                data-content="{% trans content %}"
                data-container="#application___hpc___content___center">
            {% trans name %}
        </button>
    </div>
    {{ field }}
    {% if addon %}
        <span class="input-group-addon">{{ addon }}</span>
    {% endif %}
</div>
<br/>
