{% load i18n %}

<form method="get" action="{% url ctx___data_url %}" class="LINK___application___administration___content___center___content___table___tbody___action_search">
    <div class="form-group">
        <div class="input-group input-sm">
            <input type="text" id="search" class="form-control"/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" title="{% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_SEARCH" %}" role="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___ADMINISTRATION___CONTENT___ACTION_SEARCH" %}</span>
                </button>
            </span>
        </div>
    </div>
</form>