{% load i18n %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-sm btn-default close LINK___application___website___modal___modal___action_close" data-dismiss="modal" aria-label="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}" title="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___LOGIN___FORGOT_CREDENTIALS" %} {% if ctx___tab___localuserlogin___forgot_credentials == True %}<strong>&OpenCurlyDoubleQuote;{% trans "APPLICATION___SECURITY___LOGIN___FORGOT_CREDENTIALS___LOCALUSER" %}&CloseCurlyDoubleQuote;</strong>{% else %}{% if ctx___tab___ldapuserlogin___forgot_credentials == True %}<strong>&OpenCurlyDoubleQuote;{% trans "APPLICATION___SECURITY___LOGIN___FORGOT_CREDENTIALS___LDAPUSER" %}&CloseCurlyDoubleQuote;</strong>{% endif %}{% endif %}</h4>
        </div>
        <form method="post" action="{% url "application___website:login___forgot_credentials_2" pk=ctx___form.instance.pk %}{% if ctx___tab___localuserlogin___forgot_credentials == True %}?tab___localuserlogin___forgot_credentials=True{% else %}{% if ctx___tab___ldapuserlogin___forgot_credentials == True %}?tab___ldapuserlogin___forgot_credentials=True{% endif %}{% endif %}" class="LINK___application___website___modal___modal___action_submit_and_keep_the_modal_open">
            {% csrf_token %}
            <div class="modal-body">
                <!-- Modal Menssage -->
                <div class="modal___message">
                </div>
                <!-- Modal Form Field -->
                <div class="modal___form">
                    {% with ctx___field=ctx___form.email %}
                        {% include "application/website/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx___field=ctx___form.code_confirmation %}
                        {% include "application/website/___includes___/modal/___includes___/form/textfield/textfield.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary pull-left" title="{% trans "APPLICATION___SECURITY___ACTION_SUBMIT" %}">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> {% trans "APPLICATION___SECURITY___ACTION_SUBMIT" %}
                </button>
                <a class="btn btn-sm btn-default pull-left LINK___application___website___modal___modal___action_refresh" data-url="{% url "application___website:login___forgot_credentials_2" pk=ctx___form.instance.pk %}{% if ctx___tab___localuserlogin___forgot_credentials == True %}?tab___localuserlogin___forgot_credentials=True{% else %}{% if ctx___tab___ldapuserlogin___forgot_credentials == True %}?tab___ldapuserlogin___forgot_credentials=True{% endif %}{% endif %}" title="{% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_REFRESH" %}</span>
                </a>
                <button type="button" class="btn btn-sm btn-default pull-left LINK___application___website___modal___modal___action_close" data-dismiss="modal" title="{% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hidden-xs"> {% trans "APPLICATION___SECURITY___ACTION_CLOSE" %}</span>
                </button>
            </div>
        </form>
    </div>
</div>