#application___website___modal .modal___form,
#application___website___modal___modal .modal___form
{
    margin  :0;
    padding :15px;
    color   :#73879c;
}

#application___website___modal .modal___form .divider___transparent,
#application___website___modal___modal .modal___form .divider___transparent
{
    margin     :20px 0 15px 0;
    border-top :1px solid transparent;
}

#application___website___modal .modal___form .divider___solid,
#application___website___modal___modal .modal___form .divider___solid
{
    margin     :20px 0 15px 0;
    border-top :1px solid #d9dee4;
}

#application___website___modal .modal___form .divider___dotted,
#application___website___modal___modal .modal___form .divider___dotted
{
    margin     :20px 0 15px 0;
    border-top :1px dotted #d9dee4;
}

#application___website___modal .modal___form *[readonly="readonly"],
#application___website___modal___modal .modal___form *[readonly="readonly"]
{
    cursor :not-allowed;
}

#application___website___modal .modal___form .form-group label,
#application___website___modal___modal .modal___form .form-group label
{
    margin      :0;
    padding     :0;
    font-weight :bolder;
}

#application___website___modal .modal___form .form-group .input-group,
#application___website___modal___modal .modal___form .form-group .input-group
{
    margin  :0;
    padding :0;
}

#application___website___modal .modal___form .form-group .input-group .input-group-addon,
#application___website___modal___modal .modal___form .form-group .input-group .input-group-addon
{
    background-color :#ffffff;
    border-radius    :0;
    border-color     :#d9dee4;
    color            :#73879c;
}

#application___website___modal .modal___form .form-group .input-group .form-control,
#application___website___modal___modal .modal___form .form-group .input-group .form-control
{
    border-radius :0;
    border-color  :#d9dee4;
    color         :#73879c;
}

#application___website___modal .modal___form .form-group .input-group .form-control::-moz-placeholder,
#application___website___modal .modal___form .form-group .input-group .form-control::-webkit-input-placeholder,
#application___website___modal___modal .modal___form .form-group .input-group .form-control::-moz-placeholder,
#application___website___modal___modal .modal___form .form-group .input-group .form-control::-webkit-input-placeholder
{
    color   :#73879c;
    opacity :0.5;
}

#application___website___modal .modal___form .form-group .modal___form___field_avatar,
#application___website___modal___modal .modal___form .form-group .modal___form___field_avatar
{
    overflow :hidden;
}

#application___website___modal .modal___form .form-group .modal___form___field_avatar .modal___form___field_avatar___img,
#application___website___modal___modal .modal___form .form-group .modal___form___field_avatar .modal___form___field_avatar___img
{
    margin :0 auto;
    width  :102px;
    height :102px;
    border :1px solid #d9dee4;
}

#application___website___modal .modal___form .form-group .modal___form___field_avatar .modal___form___field_avatar___img img,
#application___website___modal___modal .modal___form .form-group .modal___form___field_avatar .modal___form___field_avatar___img img
{
    width  :100px;
    height :100px;
    border :5px solid #ffffff;
}

#application___website___modal .modal___form .form-group .modal___form___field_avatar .modal___form___field_avatar___button,
#application___website___modal___modal .modal___form .form-group .modal___form___field_avatar .modal___form___field_avatar___button
{
    margin :0 0 0 120px;
}

#application___website___modal .modal___form .form-group .modal___form___field_table,
#application___website___modal___modal .modal___form .form-group .modal___form___field_table
{

}

#application___website___modal .modal___form .form-group .modal___form___field_table table.table,
#application___website___modal___modal .modal___form .form-group .modal___form___field_table table.table
{
    margin-bottom :0;
}

#application___website___modal .modal___form .form-group .modal___form___field_table table.table tbody tr td,
#application___website___modal___modal .modal___form .form-group .modal___form___field_table table.table tbody tr td
{
    border :none;
}

#application___website___modal .modal___form .form-group .modal___form___field_table table.table tbody tr td label,
#application___website___modal___modal .modal___form .form-group .modal___form___field_table table.table tbody tr td label
{
    font-weight :normal;
}

#application___website___modal .modal___form .form-group .modal___form___field_table table.table tbody tr td label input[type="checkbox"],
#application___website___modal___modal .modal___form .form-group .modal___form___field_table table.table tbody tr td label input[type="checkbox"]
{
    margin-right :10px;
}

#application___website___modal .modal___form .form-group .help-block,
#application___website___modal___modal .modal___form .form-group .help-block
{
    margin     :0;
    padding    :0;
    font-style :italic;
    color      :#73879c;
}

#application___website___modal .modal___form .form-group.has-error,
#application___website___modal .modal___form .form-group.has-error label,
#application___website___modal .modal___form .form-group.has-error button,
#application___website___modal .modal___form .form-group.has-error .input-group .input-group-addon,
#application___website___modal .modal___form .form-group.has-error .input-group .input-group-addon .input-group-btn .btn,
#application___website___modal .modal___form .form-group.has-error .input-group .form-control,
#application___website___modal .modal___form .form-group.has-error .help-block,
#application___website___modal___modal .modal___form .form-group.has-error,
#application___website___modal___modal .modal___form .form-group.has-error label,
#application___website___modal___modal .modal___form .form-group.has-error button,
#application___website___modal___modal .modal___form .form-group.has-error .input-group .input-group-addon,
#application___website___modal___modal .modal___form .form-group.has-error .input-group .input-group-addon .input-group-btn .btn,
#application___website___modal___modal .modal___form .form-group.has-error .input-group .form-control,
#application___website___modal___modal .modal___form .form-group.has-error .help-block
{
    color :#ce5454;
}

#application___website___modal .modal___form .form-group.has-error button,
#application___website___modal .modal___form .form-group.has-error .input-group .input-group-addon,
#application___website___modal .modal___form .form-group.has-error .input-group .form-control,
#application___website___modal .modal___form .form-group.has-error .modal___form___field_avatar .modal___form___field_avatar___img,
#application___website___modal___modal .modal___form .form-group.has-error button,
#application___website___modal___modal .modal___form .form-group.has-error .input-group .input-group-addon,
#application___website___modal___modal .modal___form .form-group.has-error .input-group .form-control,
#application___website___modal___modal .modal___form .form-group.has-error .modal___form___field_avatar .modal___form___field_avatar___img
{
    border-color :#ce5454;
}

#application___website___modal .modal___form .form-group.has-error .input-group .form-control::-moz-placeholder,
#application___website___modal .modal___form .form-group.has-error .input-group .form-control::-webkit-input-placeholder,
#application___website___modal___modal .modal___form .form-group.has-error .input-group .form-control::-moz-placeholder,
#application___website___modal___modal .modal___form .form-group.has-error .input-group .form-control::-webkit-input-placeholder
{
    color   :#73879c;
    opacity :0.5;
}

#application___website___modal .modal___form .form-group ul li,
#application___website___modal___modal .modal___form .form-group ul li
{
    list-style :none;
}
